<!DOCTYPE html>
<html>
<head>
    <title>Evo Calendar</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/evo-calendar.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>
<style>
    body {
        background-image: linear-gradient(-45deg, #57abaf, #f1f1f1);
    }
    main {
        padding: 20px;
        max-width: 1366px;
        width: 100%;
        margin: 0 auto;
        min-height: 100vh;
    }
    h1 {
        font-family: 'Pacifico', cursive;
        font-size: 50px;
        line-height: 50px;
        /* color: #755eb5; */
        color: #00adb5;
        /* color: #fc9567; */
        margin: 0;
        padding-bottom: 15px;
        margin-bottom: 25px;
        border-bottom: 1px solid #222831;
    }
    h1 span {
        color: #616161;
    }
    hr {
        margin-bottom: 20px;
    }
    @media only screen and (max-width: 425px) {
        main {
            padding: 10px;
        }
    }
</style>
<body>
    <main>
        <h1><span>evo</span>calendar</h1>
        <div id="evoCalendar"></div>
    </main>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/plugins/evo-calendar.js"></script>
    <script>
        $('#evoCalendar').evoCalendar({
            theme: 'Midnight Blue',
            format: 'mm-dd-yyyy',
            todayHighlight: true,
            eventDisplayDefault: false,
            canAddEvent: false,
            calendarEvents: [
                { id: '4hducye', name: "New Year", date: "Wed Jan 01 2020 00:00:00 GMT-0800 (Pacific Standard Time)", type: "holiday", everyYear: true },
                { id: 'hs64cnx', name: "Valentine's Day", date: "Fri Feb 14 2020 00:00:00 GMT-0800 (Pacific Standard Time)", type: "holiday", everyYear: true },
                { id: '67fmuzc', name: "Patient #1", date: "February/3/2020", type: "event" },
                { id: '2hcysnf', name: "Patient #3", date: "February/3/2020", type: "event" },
                { id: '08keycs', name: "Patient #4", date: "February/3/2020", type: "event" },
                { id: '4hskivu', name: "Holiday #3", date: "February/3/2020", type: "holiday" },
                { id: '75ibnwu', name: "Birthday #2", date: "February/3/2020", type: "birthday" },
                { id: 'y83edhi', name: "Author's Birthday", date: "February/15/2020", type: "birthday", everyYear: true },
                { id: '865ijgg', name: "Holiday #4", date: "February/15/2020", type: "event" },
                { id: '97kohkg', name: "Patient #2", date: "February/8/2020", type: "event" },
                { id: '16yghbd', name: "Leap day", date: "February/29/2020", type: "holiday", everyYear: true },
                { id: 'cbjndos', name: "Patient #5", date: "April/4/2020", type: "event" },
                { id: '3fxzb63', name: "Holy Thursday po hehe", date: "April/9/2020", type: "holiday" },
                { id: '76hkfis', name: "Good Friday", date: "April/10/2020", type: "holiday" },
                { id: '657gdfk', name: "Easter Sunday", date: "April/12/2020", type: "holiday" }
            ]
        });
        $("#evoCalendar").on('selectDate', function(event, newDate, oldDate) {
            var activeDate = $("#evoCalendar").evoCalendar('getActiveDate');
            var currentDate = $("#evoCalendar").evoCalendar('getCurrentDate');
            var activeEvents = $("#evoCalendar").evoCalendar('getActiveEvents');
            // new Date().getTime() - Invalid Date
            // 'April/12/2020' - working
            // new Date('April/12/2020').getTime() - Invalid Date
            // var datessss = new Date('April/12/2020'); date.getTime() - 
            var datessss = new Date('April/12/2020')
            alert('ACTIVE DATE: ' + activeDate + ' CURRENT DATE v3: ' + 'April-12-2020' + ' ' + new Date())
            console.log(activeDate, activeEvents);
        });
        $("#evoCalendar").on('selectEvent', function(event, index, activeEvent) {
            alert('ACTIVE EVENT: ' + activeEvent.name +' - '+ activeEvent.date)
        });

        setTimeout(function() {
            // console.log(activeDate)
            // $("#evoCalendar").evoCalendar('selectDate', 'February/15/2020');
            // $("#evoCalendar").evoCalendar('selectYear', 1999); // Valid year
            // $("#evoCalendar").evoCalendar('selectMonth', '1'); // 0-11
            // $("#evoCalendar").evoCalendar('selectDate', new Date()); // A valid date
            $("#evoCalendar").evoCalendar('setTheme');
            $("#evoCalendar").evoCalendar('addCalendarEvent', [{ id: 'hhregv2', name: "Get evocalendar some upgrade today", date: new Date().getTime(), type: "event" }]);
        }, 1000);

        
        setTimeout(function() {
            $("#evoCalendar").evoCalendar('removeCalendarEvent', '3fxzb63');
            $("#evoCalendar").evoCalendar('addCalendarEvent', [{ id: 'oygrdy7', name: "Fix iOS compatibility", date: new Date().getTime(), type: "event" },{ id: 'plu6ne4', name: "Fix [data-date-val] date format", date: new Date().getTime(), type: "event" }]);
        }, 2000); 
        setTimeout(function() {
            $("#evoCalendar").evoCalendar('addCalendarEvent', { id: '13vae5y', name: "Add new theme", date: '04/12/2020', type: "event" });
        }, 3000); 
    </script>
</body>
</html>