*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* transition: all .5s ease; */
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    background-color: rgb(10, 25, 47);
    color: rgb(204, 214, 246);
}

a {
    text-decoration: none;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    background-color: rgb(4 16 33);
    z-index: 999;
}
aside > nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
aside > nav > a {
    cursor: pointer;
    margin-bottom: 15px;
}
aside > nav > a:last-child {
    margin-bottom: 0;
}
aside > nav > a > svg {
    display: block;
    width: 55px;
    height: 55px;
}
aside > nav > a:hover > svg > path {
    transition: all .3s ease;
}
aside > nav > a.active > svg > path:last-child,
aside > nav > a:hover > svg > path:last-child {
    fill: rgb(100, 255, 218);
}

main {
    width: calc(100% - 80px);
    margin-left: 80px;
}


.section-container {
    display: block;
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.section-content {
    position: relative;
    max-width: 1366px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    padding: 20px 40px;
}
.section-content > .section-title {
    position: relative;
    font-size: 85px;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    margin: 0 0 20px 0;
    user-select: none;
}
.section-content > .section-title > span.title-shadow {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 500px;
    line-height: 1;
    color: rgb(0 0 0 / 20%);
    z-index: -1;
}
.section-content > .section-desc {
    font-family: monospace;
    margin: 0.6em 0;
    width: 40%;
    font-size: 20px;
    color: rgb(100, 255, 218);
}


/* INTRO */
.section-container#intro {
    height: 100vh;
}
.section-container#intro > .section-content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.section-container#intro > .section-content > p {
    font-family: monospace;
    font-size: 2.2em;
    margin: 0 0 10px;
    color: rgb(100, 255, 218);
}
.section-container#intro > .section-content > h1 {
    position: relative;
    font-size: 6em;
    line-height: 1;
    color: rgb(204, 214, 246);
    margin: 0;
    margin-bottom: 10px;
}
.section-container#intro > .section-content > h4 {
    font-size: 5em;
    line-height: 1;
    color: rgb(136, 146, 176);
    margin: 0;
}
.section-container#intro > .section-content > p:last-of-type {
    margin-top: 20px;
    width: 50%;
    font-size: 20px;
}
.section-container#intro > .section-content > .social-icons {
    margin-top: 15px;
}
.section-container#intro > .section-content > .social-icons > a {
    margin-right: 10px;
    cursor: pointer;
}
.section-container#intro > .section-content > .social-icons > a > svg {
    width: 40px;
    height: 40px;
}
.section-container#intro > .section-content > .social-icons > a > svg > path {
    transition: all .3s ease;
}
.section-container#intro > .section-content > .social-icons > a > svg > path:last-child {
    fill: rgb(136, 146, 176);
}
.section-container#intro > .section-content > .social-icons > a > svg:hover > path:last-child {
    fill: rgb(204, 214, 246);
}

/* WORKS */
.section-container#works .project-container {
    margin: 3em 0;
}
.section-container#works .project-container > .project-content {
    display: flex;
    align-items: center;
    margin: 6em 0;
}
.section-container#works .project-container > .project-content:first-child {
    margin-top: 0;
}
.section-container#works .project-container > .project-content > figure {
    position: relative;
    display: inline-block;
    width: 80%;
    margin: 0;
    box-shadow: 0 0 3em -0.6em rgb(0 0 0 / 0.65);
}
.section-container#works .project-container > .project-content > figure::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
    background-color: rgb(47 183 150 / 0%);
}
.section-container#works .project-container > .project-content > figure:hover::after {
    background-color: rgb(47 183 150 / 42%);
}
.section-container#works .project-container > .project-content > figure > img {
    display: block;
    width: 100%;
}
.section-container#works .project-container > .project-content > .project-details {
    width: 50%;
    padding-left: 20px;
}
.section-container#works .project-container > .project-content > .project-details > .project-title {
    margin: 0;
    font-size: 3em;
    font-weight: 600;
}
.section-container#works .project-container > .project-content > .project-details > .project-detail {
    background-color: rgb(23, 42, 69);
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    border-radius: 3px;
}
.section-container#works .project-container > .project-content > .project-details > .project-detail > p {
    padding: 15px;
    margin: 0;
    font-size: 18px;
    color: #f3f3f3;
}
.section-container#works .project-container > .project-content > .project-details > .project-detail > .project-stack {
    padding: 15px;
    list-style-type: none;
    margin: 0;
    border-top: 1px solid rgb(93 108 130);
}
.section-container#works .project-container > .project-content > .project-details > .project-detail > .project-stack > li {
    font-family: monospace;
    font-size: 14px;
    line-height: 1;
    display: table-cell;
    padding-right: 15px;
}
.section-container#works .project-container > .project-content > .project-details > .project-link {
    list-style-type: none;
    padding: 0;
}
.section-container#works .project-container > .project-content > .project-details > .project-link > li {
    display: inline-block;
    margin-right: 10px;
}
.section-container#works .project-container > .project-content > .project-details > .project-link > li > a {
    display: flex;
    align-items: center;
    color: rgb(136, 146, 176);
}
.section-container#works .project-container > .project-content > .project-details > .project-link > li > a:hover {
    color: rgb(100, 255, 218);
}
.section-container#works .project-container > .project-content > .project-details > .project-link > li > a > svg {
    margin-right: 5px;
    vertical-align: middle;
}
.section-container#works .project-container > .project-content > .project-details > .project-link > li > a > svg > path:last-child {
    fill: rgb(136, 146, 176);
}
.section-container#works .project-container > .project-content > .project-details > .project-link > li > a:hover > svg > path:last-child {
    fill: rgb(100, 255, 218);
}
.section-container#works .project-container > .project-content:nth-child(even) > figure {
    order: 2;
}
.section-container#works .project-container > .project-content:nth-child(even) > .project-details {
    padding-left: 0;
    padding-right: 20px;
}

/* stacks */
.section-container#stacks .stack-content {
    text-align: center;
}
.section-container#stacks .stack-content > p {
    margin: 0 0 20px;
}
.section-container#stacks .stack-content > .stack-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.section-container#stacks .stack-content > .stack-list > li {
    display: inline-block;
    margin: 0 10px;
}
.section-container#stacks .stack-content > .stack-list > li > svg {
    display: block;
    margin: 0 auto;
}
.section-container#stacks .stack-content > .stack-list > li > span {
    font-size: 18px;
    display: block;
    text-align: center;
}

.sm-show {
    display: none;
}

/* 1366 */
@media only screen and (max-width: 1366px) {
    .section-content {
        max-width: 1200px;
    }
    .project-container > .project-content .project-image-container {
        height: 170px;
    }
    .project-container > .project-content > .console-container {
        padding: 10px;
    }
}
/* sm */
@media only screen and (max-width: 991px) {
    .project-container > .project-content .project-image-container {
        height: 180px;
    }
}
/* sm */
@media only screen and (max-width: 768px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
}
/* xs */
@media only screen and (max-width: 576px) {
    aside {
        top: unset;
        bottom: 0;
        width: 100%;
        height: 80px;
    }
    aside > nav {
        flex-direction: row;
    }
    aside > nav > a {
        margin-bottom: 0;
        margin-right: 10px;
    }
    aside > nav > a:last-child {
        margin-right: 0;
    }

    main {
        width: 100%;
        margin-left: 0;
    }
    .section-container {
        padding-bottom: 80px;
    }
    .section-content > .section-title {
        font-size: 65px;
        margin: 0 0 15px 0;
    }
    .section-content > .section-title > span.title-shadow {
        top: 100%;
        left: 0;
        transform: translate(-50%, 50%) rotate(-90deg);
        font-size: 200px;
    }
    .section-content > .section-desc {
        width: 80%;
        font-size: 15px;
    }

    /* HOME */
    .section-container#intro > .section-content > p {
        font-size: 1.6em;
        margin: 0 0 10px;
    }
    .section-container#intro > .section-content > p:last-of-type {
        width: 80%;
        font-size: 15px;
    }
    .section-container#intro > .section-content > h1 {
        font-size: 4em;
        margin-bottom: 10px;
    }
    .section-container#intro > .section-content > h4 {
        font-size: 3em;
    }
    
    /* WORKS */
    .section-container#works .project-container > .project-content {
        flex-direction: column;
    }
    .section-container#works .project-container > .project-content > figure {
        display: block;
        width: 100%;
    }
    .section-container#works .project-container > .project-content > .project-details {
        width: 100%;
        padding-left: 0;
    }
    .section-container#works .project-container > .project-content .project-title {
        margin: 0 auto 10px;
        font-size: 1.8em;
        font-weight: 600;
    }
    .section-container#works .project-container > .project-content > .project-details > .project-detail figure {
        margin: 0;
        padding: 10px 10px 0;
    }
    .section-container#works .project-container > .project-content > .project-details > .project-detail figure > img { width: 100%; }
    .section-container#works .project-container > .project-content > .project-details > .project-link {
        margin: 10px 0;
    }

    
    .sm-show {
        display: block !important;
    }
    .sm-hide {
        display: none !important;
    }
}